{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="row p-4 ">
    <div class="col-md-6 text-center text-white p-lg-5">
        <h1 class="text-dark"><u>About us</u></h1>
        <h6 class="text-primary">
            SERVED EVERY DAY SINCE 1990

            Bubby’s opened on Thanksgiving Day 1990. Chef / Owner Ron Silver began baking pies and selling them to
            restaurants and ,<br>
            his neighbors out of a small kitchen at the corner of Hudson and North Moore St. in Tribeca. Today, NYC’s
            beloved <br>
            restaurant and pie shop celebrates 27 years of classic, made from scratch American cooking.<br>

            Why It's Effective
            <br>
            Rather than calling itself a “New York institution” or using the word "reliable," Bubby’s uses its headline
            to make a<br>
            specific claim — ”Served every day since 1990” — that demonstrates those ideas. This captures more attention
            and paints
            a richer, more vivid picture of its history and role in the community. The rest of the description supports
            this by<br>
            adding details to the story of its founding and explaining that even three decades later, its scratch
            approach to<br>
            cooking remains the same.


        </h6>
    </div>
    <div class="col-md-6">
        <div class="img-wrapper" style="margin-top: 100px; margin-left:170px">
            <img class="img-fluid myImage" src="{% static 'image/shifat.jpg' %}" alt="" style=" width:300px;">
        </div>
        <h4 class="text-center text-secondary pt-3"><i>CEO : Minhazul Islam Shifat</i></h4>
    </div>
</div>
{%endblock%}