{%extends 'base.html'%}
{% load static %}
{%block content%}
<div class="row p-4 ">
    <div class="col-md-6 text-center text-white p-lg-5">
        <h1 class="wlc text-danger display-3 strong">Welcome <span class="to text-white">to</span></h1>
        <h1 class="res text-primary display-2"><strong>FOOD KING <span
                    class="resOne text-secondary ">RESTAURANT</span></strong></h1>
    </div>
    <div class="col-md-6">
        <img class="img-fluid rounded-5" src="{%static 'image/OIP.jpeg'%}" alt="">
    </div>
</div>

{% endblock content %}